@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Fira+Sans:wght@400;500;700&display=swap');

html.embed {
    background-color: transparent;
}

.wufoo .info h2 {
    color: #5d7462 !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px !important;
    margin: 0;
    font-family: 'Bitter', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
}

.wufoo .info {
    border: 0;
    padding: 0;
    margin: 0 0 17px;
}

.wufoo li {
    padding: 0;
    margin: 0 0 10px;
}

form li.buttons {
    padding: 0;
}

form li.section {
    padding-top: 0;
    margin: -6px 0 29px;
}

.wufoo .section h3 {
    border: 0;
    padding: 0;
}

.wufoo .section div {
    font-size: 11px !important;
    color:  #3e3d44 !important;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.wufoo li.focused {
    background-color: transparent !important;
}

form li.error {
    background-color: transparent !important;
}

form.wufoo label,
.wufoo label.desc {
    font-size: 13px !important;
    color: #3e3d44 !important;
    padding: 0;
    margin: 0 0 -1px;
    font-weight: 400;
}

form.wufoo label .req {
    display: none !important;
}

input.medium {
    width: 100%;
}

.wufoo input.text,
.wufoo textarea.textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding: 0 15px;
    font-size: 16px;
    line-height: 42px;
    font-family: "Fira Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #fff;
    height: 44px;
}

.wufoo textarea.textarea {
    height: 173px;
    line-height: 1.1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wufoo input.text:focus,
.wufoo textarea.textarea:focus {
    outline: none;
}

form.wufoo input.text::-webkit-input-placeholder,
form.wufoo textarea.textarea::-webkit-input-placeholder {
    color: #fff;
}

form.wufoo input.text::-moz-placeholder,
form.wufoo textarea.textarea::-moz-placeholder {
    color: #fff;
}

form.wufoo input.text:-moz-placeholder,
form.wufoo textarea.textarea:-moz-placeholder {
    color: #fff;
}

form.wufoo input.text:-ms-input-placeholder,
form.wufoo textarea.textarea:-ms-input-placeholder {
    color: #fff;
}

.wufoo input.btTxt {
    -webkit-appearance: none;
    transition: background-color 0.3s ease;
    margin: 0;
    background-color: #eeca59;
    border: 0;
    border-radius: 10px;
    padding: 18px 15px;
    border: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Fira Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 700;
    color:  #3e3d44;
    width: 100%;
    display: block;
}

.wufoo input.btTxt:hover {
    background-color: #e9bb2b;
}

.wufoo input.btTxt:focus {
    outline: none;
}

#errorLi {
    border: 0;
    margin: 0 0 15px;
    padding: 0;
}

@media (min-width: 768px) {
    form.wufoo.wufoo {
        background-color: #fff !important;
        border-radius: 0 660px 0 0 !important;
        padding: 52px 284px 50px 10014px !important;
        margin: 0 0 0 -9999px !important;
    }

    .wufoo .info {
        margin-bottom: 40px;
    }

    .wufoo .info h2 {
        font-size: 50px !important;
        letter-spacing: 2px;
    }

    form.wufoo label,
    .wufoo label.desc {
        display: none !important;
    }

    .wufoo input.text,
    .wufoo textarea.textarea {
        font-size: 17px !important;
        background-color: #f4f4f4;
        padding-left: 27px;
        padding-right: 27px;
    }

    .wufoo input.text {
        height: 58px;
        line-height: 56px;
    }

    .wufoo textarea.textarea {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 130px;
    }

    input.medium {
        width: 77%;
    }

    form.wufoo input.text::-webkit-input-placeholder,
    form.wufoo textarea.textarea::-webkit-input-placeholder {
        color: #3e3e45;
        text-transform: uppercase;
    }

    form.wufoo input.text::-moz-placeholder,
    form.wufoo textarea.textarea::-moz-placeholder {
        color: #3e3e45;
        text-transform: uppercase;
    }

    form.wufoo input.text:-moz-placeholder,
    form.wufoo textarea.textarea:-moz-placeholder {
        color: #3e3e45;
        text-transform: uppercase;
    }

    form.wufoo input.text:-ms-input-placeholder,
    form.wufoo textarea.textarea:-ms-input-placeholder {
        color: #3e3e45;
        text-transform: uppercase;
    }

    .wufoo li {
        margin-bottom: 24px;
    }

    form li.section {
        display: none !important;
    }

    form li.buttons {
        margin-top: 6px;
    }

    .wufoo li.buttons > div {
        text-align: right;
        position: relative;
    }

    .wufoo li.buttons > div:before {
        position: absolute;
        right: 0;
        top: -2px;
        width: 34px;
        height: 27px;
        background-image: url(images/arrow-submit.png);
        background-size: 100% auto;
        content: '';
    }

    .wufoo input.btTxt {
        transition: color 0.3s ease;
        background-color: transparent;
        font-size: 23px;
        display: inline-block;
        vertical-align: top;
        width: auto;
        cursor: pointer;
        padding: 0 42px 0 0;
    }

    .wufoo input.btTxt:hover {
        color: #e07930;
        background-color: transparent;
    }

    #errorLi {
        width: 77%;
        text-align: left;
    }

    form p.error {
        width: 77%;
    }
}